

/* GLobal ------------------------- */
/* Navbar ------------------------- */
/* Loader ------------------------- */
/* Responsive --------------------- */


/* GLobal ---------------------------------------------------------------- */
:root {
    --pink: #ea75ce;
    --lightgreen: #6dc1c6;
    --green: lightseagreen;
}

a:hover {
    color:black;
    text-decoration: none;
}
body {
    min-height: 100vh;
    background: #fff;
}
main {
    padding: 100px 0;
}



.a-green {
    color: var(--green) !important;
    transition: all 0.2s ease;
}
.a-green:hover {
    color: var(--pink) !important;
}
.a-pink {
    color: var(--pink) !important;
    transition: all 0.2s ease;
}
.a-pink:hover {
    color: var(--green) !important;
}



.title {
    color: #757978;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-control {
    border-radius: 25px !important;
    border: 2px solid #6dc1c638 !important;
    background: #6fc5c91c !important;
    padding: 23px 15px;
    font-size: 16px;
}

/* Button ----------------------------------- */

.btn {
    font-size: 16px;
    color: #fff;
    border-radius: 22px;
    padding: 10px 20px;
}



.btn-pink {
    background: #ea75ce;
}
.btn-pink:hover {
    color: #fff;
    background: #d83bb3;
}
.btn-pink:focus {
    box-shadow: 0 0 0 0.2rem rgb(234 117 206 / 22%) !important;
}


.btn-green {
    background: #6dc1c6;
}
.btn-green:hover {
    color: #fff;
    background: #34a2a8;
}
.btn-green:focus {
    box-shadow: 0 0 0 0.2rem rgb(109 193 198 / 27%) !important;
}


/* Button End */

.wc_text{
    font-size: 100px;
}

.card-header{
    background-color: lightseagreen;
    color:white;
}

.lg-btn{
    background-color: lightseagreen;
}
.lg-btn:hover{
    color: #fff;
}


/* Navbar ------------------------------------------------------------------------------- */

nav{
    /* height: 75px; */
    /* height: 100px; */
    height: 114px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: lightseagreen !important;
}
a.navbar-brand {
    color: white !important;
    font-size: 19px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 800;
}

#navbarDropdown{
    color: white;
}
.nav-link{
    color: white !important;
}
.nav-item {
    font-size: 16px;
    display: flex;
    align-items: center;
}
.nav-item a {
    color: #fff ;
}
.dropdown-menu {
    background: #ea75ce;
}

.period_logo {
    font-size: 35px;
    margin-bottom: -42px;
    display: block;
}
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: var(--pink) !important;
    color: #fff;
}

/* Toast  ------------------------------------------------------------------- */

.toast {
    position: fixed;
    top: 142px;
    z-index: 11;
    right: 45px;
    /* left: 171px; */
    flex-basis: 300px;
    max-width: 300px;
    font-size: 17px;
    color: #fff;
    background-color: #ea75ce;
    box-shadow: 0 2px 9px 2px #eee3e3;
    opacity: 1;
    border-radius: 10px;
    background-clip: unset;
    border: none;
    overflow: hidden;
    display: none;
}

/* Loader  ------------------------------------------------------------------- */

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Responsive  ------------------------------------------------------------------- */

